@use './variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  min-width: 320px;
  background: $color-black;
  color: $color-white;
  font-family: $font-primary;
  font-synthesis: none;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
a {
  color: inherit;
  font: inherit;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}

img {
  display: block;
  max-width: 100%;
}

#root {
  min-height: 100svh;
}

.design-line-break { display: none; }
.design-line-space { display: inline; }
@media (min-width: 1920px) {
  .design-line { white-space: nowrap; }
}
@media (min-width: 1600px) {
  .design-line-break { display: initial; }
  .design-line-space { display: none; }
}
